.about {
    margin-top: 50px;

    &__img {
        width: 60%;
    }

    &__description {
        margin-bottom: 28px;
    }
}

@media screen and (min-width: 530px) and (max-width: 770px) {
    .about {
        &__img {
            width: 70%;
        }
    }
}

@media screen and (max-width: 529px) {
    .about {
        &__img {
            width: 80%;
        }
    }
}
