.footer {
    min-width: 100%;
    background-color: $background-dark;
    justify-self: end;
    padding-top: 10px;
    padding-bottom: 10px;

    &__wrap {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        color: $white-text;
        text-align: start;
        padding: 0;
        margin: 0;
    }

    .social {
        &-medias {
            @include flex-row();
            justify-content: center;
            column-gap: 6px;
        }

        &-link {
            position: relative;

            &:hover {
                .hint {
                    opacity: 1;
                    transform: translateX(-50%) translateY(50px);
                }
            }

            i {
                transition: all 0.6s ease;
                padding: 16px;
                color: $white-text;
                background-color: $social-link-bg;
                border-radius: 50%;
                text-align: center;
                position: relative;
                width: 36px;
                height: 36px;
                font-size: 20px;
                @include flex-column();
                justify-content: center;
                align-items: center;
                border: 2px solid $introduce-bg;

                &:hover {
                    background-color: $accent;
                }
            }

            .hint {
                transition: all 0.5s ease;
                opacity: 0;
                border: 3px solid $body-dark;
                font-size: 18px;
                font-weight: 700;
                position: absolute;
                top: -120px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 100;
                color: $white-text;
                background-color: $accent;
                border-radius: 10px;
                padding: 15px 40px;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .footer {
        .social {
            &-link {
                &:hover {
                    .hint {
                        opacity: 1;
                        transform: translateY(40px);
                    }
                }

                .hint {
                    border: 2px solid $body-dark;
                    font-size: 16px;
                    top: -80px;
                    left: -100%;
                    transform: none;
                    padding: 4px 12px;
                }
            }

            &-medias {
                i {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}
