.games {
    margin-bottom: 20px;

    .text {
        h2 {
            text-align: center;
        }

        p {
            text-align: center;
            max-width: 580px;
            margin: 0 auto;
        }
    }

    &__hero {
        position: relative;
    }

    &__list {
        @include flex-row();
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        row-gap: 20px;
        margin-bottom: 60px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48%;
        min-height: 340px;
        position: relative;
        margin: 0 auto;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url("../img/background.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .description {
            width: 49%;
            @include flex-column();
            align-items: center;

            .text {
                margin-bottom: 15px;
            }
        }

        &-image {
            width: 40%;
            position: relative;
            left: -3%;
        }
    }
}

@media screen and (max-width: 629px) {
    .games {
        &__introduction {
            img {
                width: 38%;
                align-self: center;
            }
        }

        &__list {
            @include flex-column();
            justify-content: center;
        }

        &__item {
            width: 84%;

            .description {
                min-width: 54%;
            }

            &-image {
                width: 50%;
                left: -10%;
            }
        }
    }
}

@media screen and (min-width: 630px) and (max-width: 770px) {
    .games {
        &__list {
            @include flex-column();
            justify-content: center;
        }

        &__item {
            width: 60%;

            .description {
                width: 60%;
            }

            &-image {
                width: 55%;
                left: -10%;
            }
        }

        &__introduction {
            img {
                width: 40%;
            }
        }
    }
}