.header {
    background-color: $background-dark;
    min-width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;

    .page__theme {
        cursor: pointer;

        i {
            font-size: 28px;
        }
    }

    &__logo {
        &-title {
            font-size: 24px !important;
            font-weight: 700 !important;
        }
    }

    &__wrap {
        @include flex-row();
        justify-content: space-between;
        align-items: center;

        * {
            color: $white-text;
            font-weight: 400;
            font-size: 16px;
        }
    }

    &__menu {
        @include flex-row();
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    &__list {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        text-decoration: none;
    }

    &__item {
        &.accent {
            background-color: $accent;
            padding: 10px 20px;
            border-radius: 10px;
            transition: all 0.5s ease;

            &:hover {
                background-color: $purple;
            }
        }

        a {
            &:hover {
                color: $yellow;
            }
        }
    }

    .sub-list {
        position: relative;

        &:hover,
        &:focus-within {
            button {
                cursor: pointer;
                color: $yellow;
            }

            .header__lower__list {
                opacity: 1;
                transform: translateY(44%);
                pointer-events: all;
            }
        }
    }

    &__lower__list {
        position: absolute;
        transition: all 0.5s ease;
        z-index: 100;
        top: 0;
        left: -75%;
        background-color: $background-dark;
        border-radius: 10px;
        padding: 30px 40px;
        opacity: 0;
        pointer-events: none;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &__lower__item {
        color: $white-text;
        padding: 10px;

        &:hover {
            border-bottom: 1px solid $white-text;
        }
    }
}

@media screen and (max-width: 670px) {
    .header {
        padding-top: 4px;
        padding-bottom: 4px;

        &__burger {
            display: block;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;

            &::before {
                content: "";
                background-color: $white-text;
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                transition: all 0.5s ease;
                top: 0;
            }

            &::after {
                content: "";
                background-color: $white-text;
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                transition: all 0.5s ease;
                bottom: 0;
            }

            span {
                position: absolute;
                background-color: $white-text;
                left: 50%;
                width: 50%;
                height: 2px;
                top: 9px;
                transition: all 0.5s ease;
            }

            &.active {
                span {
                    display: none;
                    transition: all 0.5s ease;
                }

                &::before {
                    transform: rotate(45deg) scale(1);
                    top: 9px;
                    transition: all 0.5s ease;
                }

                &::after {
                    transform: rotate(-45deg) scale(1);
                    bottom: 9px;
                    transition: all 0.5s ease;
                }
            }
        }

        &__list {
            display: block;
            position: fixed;
            top: 150%;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;
            background-color: $background-light;
            transition: all 0.6s ease 1;
            margin-top: 0;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            padding: 30px 20px;

            &.active {
                top: 50px;
            }
        }

        &__item {
            padding: 10px;
        }

        &__lower__list {
            top: 0;
            left: 20%;
        }

        .sub-list {

            &:hover,
            &:focus-within {
                .header__lower__list {
                    opacity: 1;
                    transform: translateY(10%);
                    pointer-events: all;
                }
            }
        }
    }
}