.software {
    margin-bottom: 20px;
    .text {
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
            max-width: 580px;
            margin: 0 auto;
        }
    }
    &__hero {
        position: relative;
    }
    &__list {
        @include flex-row();
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        width: 48%;
        position: relative;
        margin: 60px auto;

        .description {
            width: 49%;
            @include flex-column();
            align-items: center;
            .text {
                margin-bottom: 15px;
            }
        }
        &-image {
            width: 40%;
            position: relative;
            left: -3%;
        }
    }
}

@media screen and (max-width: 629px) {
    .software {
        &__list {
            @include flex-column();
            justify-content: center;
        }
        &__item {
            width: 60%;
            margin: 80px 0;
            .description {
                min-width: 64%;
            }
            &-image {
                width: 50%;
                left: -10%;
            }
        }
        &__introduction {
            img {
                width: 38%;
                align-self: center;
            }
        }
    }
}

@media screen and (min-width: 630px) and (max-width: 770px) {
    .software {
        &__list {
            @include flex-column();
            justify-content: center;
        }

        &__item {
            margin: 120px 0;
            .description {
                min-width: 60%;
            }
            &-image {
                width: 55%;
                left: -10%;
            }
        }
        &__introduction {
            img {
                width: 40%;
            }
        }
    }
}
