@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
//Mixin - End
//Variables  - Start
$white-text: #f8f8f8;
$introduce-bg: #f6f6f6;
$text-color: #4b5d68;
$accent: #5171ce;
$background-dark: #555;
$background-light: #5f5f5f;
$body-dark: #333;
$body-light: #464646;
$purple: rgb(108, 0, 248);
$yellow: #ffe600;
$red: rgb(255, 0, 0);
$btn-bg: rgb(47, 0, 255);
$social-link-bg: #bdbdbd;
$light-blue: #d9e5ff;
$green: #1aff00;
//Variables - End
//Includes
@import "templates/general.scss";
@import "templates/header.scss";
@import "templates/introduction.scss";
@import "templates/about.scss";
@import "templates/games.scss";
@import "templates/software.scss";
@import "templates/privacy.scss";
@import "templates/contacts.scss";
@import "templates/mail-status.scss";
@import "templates/404.scss";
@import "templates/footer.scss";

//Media queries
@media screen and (max-width: 529px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  .btn {
    &--play {
      padding: 4px 22px;
      font-size: 12px;
    }
    &--more {
      padding: 4px 22px;
      font-size: 12px;
    }
  }

  .description {
    max-width: 250px;
  }
  p {
    font-size: 9px;
  }
  .introducing {
    .content {
      max-width: 50%;
    }
  }
  .social-medias {
    i {
      width: 24px;
      height: 24px;
    }
  }

  .introduction {
    flex-direction: column;
    margin: 80px auto;

    img {
      width: 50%;
    }
  }
}
@media screen and (min-width: 530px) and (max-width: 770px) {
  p {
    font-size: 12px;
  }
  .btn {
    &--play,
    &--more {
      padding: 9px 45px;
    }
  }
  .introducing {
    .content {
      max-width: 50%;
    }
  }
  h1 {
    font-size: 30px;
  }
  h5 {
    font-size: 16px;
  }
}
//Theme
@import "templates/dark-theme.scss";
