@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
//Mixin - End
//Variables  - Start
$white-text: #f8f8f8;
$introduce-bg: #f6f6f6;
$text-color: #4b5d68;
$accent: #5171ce;
$background-dark: #555;
$background-light: #5f5f5f;
$body-dark: #333;
$body-light: #464646;
$purple: rgb(108, 0, 248);
$yellow: #ffe600;
$red: rgb(255, 0, 0);
$btn-bg: rgb(47, 0, 255);
$social-link-bg: #bdbdbd;
$light-blue: #d9e5ff;
$green: #1aff00;
//Variables - End
//Includes
@import "templates/general.scss";
@import "templates/header.scss";
@import "templates/introduction.scss";
@import "templates/about.scss";
@import "templates/games.scss";
@import "templates/software.scss";
@import "templates/privacy.scss";
@import "templates/contacts.scss";
@import "templates/mail-status.scss";
@import "templates/404.scss";
@import "templates/footer.scss";
//Theme
@import "templates/dark-theme.scss";
