@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
//Mixin - End
//Variables  - Start
$white-text: #f8f8f8;
$introduce-bg: #f6f6f6;
$text-color: #4b5d68;
$accent: #5171ce;
$background-dark: #555;
$background-light: #5f5f5f;
$body-dark: #333;
$body-light: #464646;
$purple: rgb(108, 0, 248);
$yellow: #ffe600;
$red: rgb(255, 0, 0);
$btn-bg: rgb(47, 0, 255);
$social-link-bg: #bdbdbd;
$light-blue: #d9e5ff;
$green: #1aff00;
//Variables - End
//Includes
@import "templates/general.scss";
@import "templates/header.scss";
@import "templates/introduction.scss";
@import "templates/about.scss";
@import "templates/games.scss";
@import "templates/software.scss";
@import "templates/privacy.scss";
@import "templates/contacts.scss";
@import "templates/mail-status.scss";
@import "templates/404.scss";
@import "templates/footer.scss";

//Media queries
@media screen and (max-width: 529px) {
  .header {
    height: 40px;

    &__burger {
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
      &::before {
        content: "";
        background-color: $white-text;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all 0.5s ease;
        top: 0;
      }
      &::after {
        content: "";
        background-color: $white-text;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        transition: all 0.5s ease;
        bottom: 0;
      }
      span {
        position: absolute;
        background-color: $white-text;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease;
      }
      &.active {
        span {
          display: none;
          transition: all 0.5s ease;
        }
        &::before {
          transform: rotate(45deg) scale(1);
          top: 9px;
          transition: all 0.5s ease;
        }
        &::after {
          transform: rotate(-45deg) scale(1);
          bottom: 9px;
          transition: all 0.5s ease;
        }
      }
    }
    &__list {
      display: block;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $background-light;
      transition: all 0.5s ease 1;
      margin-top: 0;

      &.active {
        top: 40px;
      }
    }
    &__item {
      padding: 10px 10px;
    }
    &__lower__list {
      z-index: 30;
      top: 30px;
      left: 20%;
      background-color: $background-dark;
      border-radius: 10px;
      padding: 30px 40px;
      display: none;
    }
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  .btn {
    &--play {
      padding: 4px 22px;
      font-size: 12px;
    }
    &--more {
      padding: 4px 22px;
      font-size: 12px;
    }
  }

  .description {
    max-width: 250px;
  }
  p {
    font-size: 9px;
  }
  .introducing {
    .content {
      max-width: 50%;
    }
  }
  .social-medias {
    i {
      width: 24px;
      height: 24px;
    }
  }

  .introduction {
    flex-direction: column;
    margin: 80px auto;

    img {
      width: 50%;
    }
  }
}
@media screen and (min-width: 530px) and (max-width: 770px) {
  p {
    font-size: 12px;
  }
  .btn {
    &--play,
    &--more {
      padding: 9px 45px;
    }
  }
  .introducing {
    .content {
      max-width: 50%;
    }
  }
  h1 {
    font-size: 30px;
  }
  h5 {
    font-size: 16px;
  }
}
//Theme
@import "templates/dark-theme.scss";
